body {
  background-color: rgb(222, 233, 222);
  color: rgba(0, 0, 0, 0.75);
}

header {
  display: flex;
  justify-content: space-between;
}

header img {
  height: 80px;
  margin-left: 20px;
  width: 170px;
}

header h4 {
  display: flex;
  gap: 30px;
  margin: 15px 30px;
}

form {
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

form label {
  display: flex;
}

input {
  margin: 15px 5px;
}

[ data-testid = 'value-input' ] {
  width: 50px;
}

select {
  cursor: pointer;
  margin: 15px 5px;
}

button {
  background-color: #196899;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin: 15px 5px;
  transition: 0.4s;
}

button:hover {
  opacity: 0.6;
}

button:disabled {
  background-color: transparent;
  border: 2px solid #196899;
  color: #196899;
}

[ data-testid = 'edit-btn' ] {
  background-color: gold;
  color: black;
  height: 35px;
  width: 35px;
}

[ data-testid = 'delete-btn' ] {
  background-color: red;
  height: 35px;
  width: 35px;
}

table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

thead {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  min-height: 40px;
}


.loginPage {
  align-items: stretch;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(216, 191, 216, 0.438) 3px 3px;
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  max-width: 500px;
  padding: 25px;
}

.loginPage header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.loginPage img {
  margin: 0 auto;
  max-width: 200px;
}

.loginPage input {
  font-size: 20px;
  width: 100%;
}

.loginPage button {
  font-size: 20px;
}

.onlyDesktop {
  display: none;
}

/* table {
  display: flex;
  flex-direction: row;
  width: 100%;
}

tbody {
  display: flex;
}

tr {
  display: flex;
  flex-direction: column;
} */

@media screen and ( min-width : 800px ) {

  .onlyDesktop {
    display: table-cell;
  }
}
